@font-face {
    font-family: 'Graebenbach';
    src: url('Graebenbach-Black.eot');
    src: url('Graebenbach-Black.eot?#iefix') format('embedded-opentype'),
        url('Graebenbach-Black.woff2') format('woff2'),
        url('Graebenbach-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graebenbach';
    src: url('Graebenbach-Medium.eot');
    src: url('Graebenbach-Medium.eot?#iefix') format('embedded-opentype'),
        url('Graebenbach-Medium.woff2') format('woff2'),
        url('Graebenbach-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graebenbach';
    src: url('Graebenbach-BoldItalic.eot');
    src: url('Graebenbach-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Graebenbach-BoldItalic.woff2') format('woff2'),
        url('Graebenbach-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Graebenbach';
    src: url('Graebenbach-RegularItalic.eot');
    src: url('Graebenbach-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Graebenbach-RegularItalic.woff2') format('woff2'),
        url('Graebenbach-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Graebenbach';
    src: url('Graebenbach-Regular.eot');
    src: url('Graebenbach-Regular.eot?#iefix') format('embedded-opentype'),
        url('Graebenbach-Regular.woff2') format('woff2'),
        url('Graebenbach-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graebenbach';
    src: url('Graebenbach-MediumItalic.eot');
    src: url('Graebenbach-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Graebenbach-MediumItalic.woff2') format('woff2'),
        url('Graebenbach-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Graebenbach';
    src: url('Graebenbach-BlackItalic.eot');
    src: url('Graebenbach-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Graebenbach-BlackItalic.woff2') format('woff2'),
        url('Graebenbach-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graebenbach';
    src: url('Graebenbach-Bold.eot');
    src: url('Graebenbach-Bold.eot?#iefix') format('embedded-opentype'),
        url('Graebenbach-Bold.woff2') format('woff2'),
        url('Graebenbach-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graebenbach';
    src: url('Graebenbach-Regular.eot');
    src: url('Graebenbach-Regular.eot?#iefix') format('embedded-opentype'),
        url('Graebenbach-Regular.woff2') format('woff2'),
        url('Graebenbach-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    
html
{
    z-index:0;
	margin: 0;
	padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}


body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.logo
{
    width:20%;
    display: inline-flex;
         text-align: right;
    padding-left:2vw;
    font-size: 40px; 
    font-weight: normal;

}

.logo2
{
    width:40%;
    display: inline-flex;
         text-align: right;
   margin-left:80vw;
    font-size: 1.4vw;
    padding:10px;
    margin-bottom:0;
    font-weight: normal;

}

.nav-wrapper
{
    position:fixed;
       border: 1px solid #000000;
    box-sizing: border-box;
    width: 100vw;
    padding:10px;
      justify-content: center;
    background-color: white;
    z-index:6;
    top:0;
    left:0;
    display: block;
    
}

.foot-wrapper
{

       border: 1px solid #000000;
    box-sizing: border-box;
    width: 100vw;
    padding:15px;
      justify-content: center;
    background-color: white;
    z-index:6;
    top:0;
    left:0;
    display:block;
    
}

.links
{
     display: inline-flex;
        width:13%;
    justify-content: center;
    float:right;
    margin:auto;
    font-size: 1.5vw; 
    padding:10px;
    
}

.links:hover
{
    text-decoration: underline;
}
.logo:hover
{
      text-decoration: none;
        font-weight: normal; 
     font-style: normal;
}

img
{
     border: 1px solid #000000;
    box-sizing: border-box;
}
