/* responsive */

@media screen and (max-width: 600px) {
    /* For mobile phones: */
    .color {
      width: 100%;
        margin:0;
    }
    .html{
        background-color: #dbd3dd;}


}

        
