    /* if mobile device max width 380px */
    @media only screen and (max-device-width: 380px) {
   
   .ok
        {
                        font-size: 50px;
            #background-color: #145156;
        }
        
        
          /* if mobile device max width 600px */
    @media only screen and (max-device-width: 600px) {
   
   .ok
        {
            #background-color: #145156;
            font-size: 50px;
        }
  
  
    } 

    /* if mobile device max width 480px */
    @media only screen and (max-device-width: 480px) {
        .ok
        {
                        font-size: 50px;
            #background-color: #145156;
        }
 
}

.ok
{
    font-size: 9px;
    background-color: #dbd3dd;
}
