/* responsive */

@media screen and (max-width: 600px) {
    /* For mobile phones: */
    html, body {
        background-color: #dbd3dd;}
}

        
html, body {
margin:0;
padding:0;
    background-color:#1A1A66;
    z-index:0;
}
