a {
  color:inherit;
  text-decoration: none;
 }

 a:hover {
  text-decoration: underline;
     
 }


.text
{
    font-size: 24px;
    font-family: "della respira";  
  padding-left: 6%;
    padding-top: 25px;
    padding-bottom:15px;
  padding-right:67%;

}

.menu
{
   font-size: 48px;
    font-family: "della respira";  
    padding-left:80px;
    position:fixed;
     margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
   opacity:100
}


.back
{
   
    font-size: 50px;
    font-family: "della respira";  
    padding-left:50px;
    position:fixed;
}

.title
{
    font-size: 20px;
    font-family: "della respira";
    z-index: 1;
  width="600px";
  height="434.4px";
        }

.taylor
{
   margin-left:300px;
    font-size: 20px;
   padding-top: 0px;
    font-family: "della respira"
        }
.vertical
{
    margin-top:20%;
   font-size: 20px;
    font-family: "della respira";  
      position:fixed;
    padding-left:60px;
    margin-right:80%;
    margin-top: 8%;


  
}
.horizontal
{
   font-size: 20px;
    font-family: "della respira";  
      position:fixed;
    padding-left:60px;
    margin-right:77%;
    margin-top: 8%;
  
}


.squiggle
{
   font-size: 30px;
    padding-top: 10px;
    font-family: "della respira";  
  padding-left: 82%;
    z-index: -1;
    position:fixed;
     margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity:100;
  
}
.hidden-about
{opacity:0;
  font-family: "della respira";  
  padding-left:20px;
  font-size:30px;
}



    /* if mobile device max width 380px */
    @media only screen and (max-device-width: 380px) {
          .squiggle img{opacity:0; height:1px; width:1px;}       
        .menu img {opacity:0; height:1px; width:1px;}
        .squiggle {opacity:0; height:1px; width:1px;}       
        .menu {opacity:0; height:1px; width:1px;}
     .title img{width: 100%;
          height: auto;}
          .back{font-size:30px;}
      .hidden-about
{opacity:100;}
      {
  padding-right:40%px;
width:100%;
      }


  
    } 

    /* if mobile device max width 480px */
    @media only screen and (max-device-width: 480px) {
       .squiggle img{opacity:0; height:1px; width:1px;}       
        .menu img {opacity:0; height:1px; width:1px;}
        .squiggle {opacity:0; height:1px; width:1px;}       
        .menu {opacity:0; height:1px; width:1px;}
        .title img{width:100%;
          height: auto;}
      .back{font-size:30px;}
.hidden-about
{opacity:100;}
 .text
{
  padding-right:6%;
width:100%;
      }
}
